.counter-container {
 
  width: 100%;
  padding: 20px;
   z-index: 11111111111111111111111111111111111;
}

.counter-container h1 {
  color: #9f9f9f !important;
  margin-bottom: 10px;
}

.counter-container h2 {
  color: #ffffff !important;
  margin-bottom: 20px;
}

.time-container {
  color: #ffffff !important;
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 5px;
  font-size: 17px;
}

@media screen and (max-width: 768px) {
  .counter-container {
    padding: 10px;
  }
  
  .counter-container h1 {
    font-size: 24px;
  }
  
  .counter-container h2 {
    font-size: 18px;
  }
  
  .time-container {
    font-size: 14px;
  }
}