
.counter-container h1 {
  margin-bottom: 10px;
}
.landing-leader-counter-container-header{
}
.landing-leader-counter-container-header h2{
  font-size: 50px;
  /* text-shadow: 
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white; */

 }
.counter-container h2 {
  margin-bottom: 20px;
}
.counter-content{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.landing-counter-container-header{
  text-align: center;
  margin-bottom: 20px;;
  font-size: 18px ;
  margin-top: 20px;
}
.counter-content-header{
  display: flex;
}
.time-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 5px;
  font-size: 17px;
}
@media screen and (max-width: 1308px) {

  .counter-content-header{
    display: flex;
    flex-direction: column;
    align-items: center;
  }  
  .landing-counter-container-header{
    text-align: center;
    margin-right:0px;  
    color:#ffffff !important;
  }
}

@media screen and (max-width: 768px) {

.counter-content-header img {
  width:150px;
  height:150px;
}

  .counter-container {
    padding: 10px;
  }
  
  .landing-counter-container h1 {
    font-size: 24px;
  }
  .landing-leader-counter-container-header h1 {
    font-size: 27px !important;
  }
  .landing-leader-counter-container-header h2 {
    font-size: 22px !important;
  }
  
  .counter-container h2 {
    font-size: 18px;
  }
  
  .time-container {
    font-size: 14px;
  }
}