.financial-freedom {
  background-image: linear-gradient(to right, rgba(20, 110, 255, 0.1), rgba(0, 98, 255, 0.05));
  color: white;  border: 1px solid rgba(52, 130, 255, 0.3);
  box-shadow: 0 0 35px rgba(20, 110, 255, 0.5), inset    0 0 25px rgba(20, 110, 255, 0.5);
  padding: 2rem; 
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
width: 90%;
  max-width: 1200px;
  margin: 70px auto;
}
 
.financial-freedom .content {
  flex: 1;
  padding-right: 2rem;
}

.financial-freedom h1 {
  margin-bottom: 1.5rem;   
  font-size: 2.5rem !important;
}

.financial-freedom p {
  font-size: 1rem;
  margin-bottom:1.5rem;
  opacity: 0.8;
  display: flex;
  align-items: center;

}

.check-circle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px; 

  border-radius: 50%;
  background-color: rgba(20, 103, 219, 0.271);
  margin-right: 10px;
  font-size: 0.8rem;
}

.get-started {
  background-color: var(--main-color-lighter);
  color: white;
  border: none;
  padding: 0.75rem 4rem;

  font-size: 1rem;
  margin-bottom: 10px;
  border-radius: 15px;
  box-shadow: 
  rgb(69, 141, 255) 0px 0px 17.3px 11px inset, 
  0 0 15px rgb(94, 156, 255);

  cursor: pointer;
  transition: 0.3s;
}

.get-started:hover {
 
  box-shadow: 
  rgb(94, 156, 255) 0px 0px 17.3px 11px inset, 
  0 0 25px rgb(35, 119, 255);
 
}


.lock-in {
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.financial-freedom .icon {
  margin-right: 0.5rem;
}

.financial-freedom .images img {
  width:400px;
  object-fit: cover;
}

.video-call, .mobile-apps, .chat {
  background-color: #2e2e3e;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.video-call {
  width: 200px;
  height: 150px;
  position: absolute;
  top: 0;
  right: 0;
}

.mobile-apps {
  width: 100px;
  height: 200px;
  position: absolute;
  bottom: 0;
  right: 220px;
}

.financial-freedom .chat {
  width: 150px;
  height: 100px;
  position: absolute;
  bottom: 0;
  right: 0;
}

@media (max-width: 768px) {
  
  .financial-freedom {
    flex-direction: column;
    text-align: center;

  }
  

  .financial-freedom h1 {
    margin-bottom: 2.5rem;   
  
  }
  
  .financial-freedom p {
    font-size: 0.8rem;
    margin-bottom:2.5rem;
    opacity: 0.8;
    display: flex;
    align-items: center;
    text-align: left;
  
  }
  .financial-freedom .content {
    padding-right: 0;
    margin-bottom: 2rem;
  }
  .financial-freedom .images {
    width: 100%;
  }
}

@media (max-width: 508px) {

  .financial-freedom h1 {
    margin-bottom: 2.5rem;   
    font-size: 1.5rem !important;

  }
  .get-started {

    padding: 0.75rem 4rem;
  
    font-size: 0.8rem;
  }
  .financial-freedom p {
    font-size: 0.8rem;
    margin-bottom:2.5rem;
    opacity: 0.8;
    display: flex;
    align-items: center;
    text-align: left;
  
  }
}