.home-header {
  background-color: #1a1a2e;
  color: white;
  padding: 20px;
  text-align: center;
}
/*  
.feature-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border: 0.01em solid #555c89;
  margin: 30px auto;
  padding: 15px;
  border-radius: 50px;
  max-width: 90%;
}

.feature-bar span {
  font-size: 0.9rem;
  text-transform: uppercase;
  margin: 5px;
}

.feature-bar i {
  margin-right: 5px;
} */

.home-header .subtitle {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.home-header .title {
  font-size: 2.5rem;
  margin: 0;
}

.home-header h1 {
  color: white !important;
}

.information-container {
  padding:50px;
  display: grid;
  grid-template-columns: 5% 95%;
}
.information-container h1{
  margin-bottom: 30px;;
}
.information-container .custom-header-subtitle {
  margin-bottom: 50px;;

}
.information-container-header,
.custom-header-subtitle {
  text-align: center;
}

.HomeImgContainer {
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin-top:100px !important;
}

.HomeImgContainer img {
  border-top-left-radius: 12px;
  border-bottom-right-radius: 12px;
  width: 100%; 
  opacity: 0.2;

}

.image-box-container {
  width: 90%;
  border: 1px solid rgba(52, 130, 255, 0.3);
  border-radius: 11px;
  padding: 10px;
  margin-top: 20px;
}

.image-box {
  border-radius: 9px;
  padding: 20px;
  box-shadow: 0 0 115px rgba(20, 110, 255, 0.5), inset    0 0 55px rgba(20, 110, 255, 0.5);
  background-color: var(--main-color-2);
}

.HomeImgContainerHeaderFirst {
  font-size: 24px;
  color: white;
  font-weight: 700;
}
.information-container-header-div{
  margin-left:-130px;
}

.HomeImgContainerHeaderSecond {
  color: rgb(115, 115, 115);
  font-size: 18px;
  font-weight: 700;
}

.HomeImgContainerHeader {
  max-width: 90%;
  margin: 40px auto;
}

.HomeImgContainerHeader svg {
  color: var(--main-color-lightest);
  font-size: 30px;
}
.HomeImgContainer i{
  font-size: 30px;
  color: #65a0ff ;
}
.HomeImgContainerHeaderContent *{
  margin-bottom: 20px;
}
.challenge-card{
  border-radius: 10px;
  color:white;
  padding: 20px;
  box-shadow: 0 0 25px rgba(20, 110, 255, 0.5), inset 0 0 65px rgba(20, 110, 255, 0.5);
  width: 90%;
  max-width: 390px;
  height: auto;
  position: relative;
  background-image: linear-gradient(to top, rgba(20, 110, 255, 0.1), rgba(0, 98, 255, 0.01));
  background-color: rgba(20, 110, 255, 0.01);
  border: 1px solid rgba(52, 130, 255, 0.1);
  margin-bottom: 20px;
}
.challenge-container-phone{
  display: none;

}
.AnimateCounterHomePhone{
  display: none;
  top:850px;
  flex-direction: column;
  position: absolute;     width:100%;
  align-items: center; 
  margin-top:30px;
  color:white !important;
}
 .HomeImgContainer {
  flex-direction: row;
  justify-content: space-around;
  margin-top: 0px;
  
}
.getoffersmall{
  display: none;
  margin-top:40px;
}



@media (max-width: 700px) {
  .AnimateCounterHomePhone section{
     margin-left:0px;
  } 

}

@media (max-width: 1000px) {

  .information-container-header-div{
    margin-left:-0px;
  }
  .getoffersmall{
    display: block;
    width:90%;
  }
  .getofferlarge{
    display: none;
  }
  .AnimateCounterHomePhone{
    display: flex;
  }
  .challenge-container-phone{
    display: flex; 
    width:100%;
    justify-content: center;
    margin-top:580px  
  }
  .landing-counter-container{
    display: none;
    /* top:900px !important; */
    /* position: absolute !important;
    margin: 0 auto;
    width:82%;
    padding:0px; */
  }  .clippergoat-pricing {
    display: none;
  }
  .spacing-counter{
    margin-top:1050px;
  }

}
@media (max-width: 1300px) {


  .HomeImgContainer {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    margin-top:10px !important;

  }  .information-container {
    display: grid;
    padding:0px;
    grid-template-columns: 5% 95%;
  }
  

  .home-header{
    margin-top:450px;
}

.image-box-container {
    width: 90%;
    border: 1px solid rgba(52, 130, 255, 0.3);
    border-radius: 11px;
    padding:  5px;
    margin-top: 20px;
  }
  
  .image-box {
    border-radius: 9px;
    padding: 10px;
    box-shadow: 0 0 115px rgba(20, 110, 255, 0.5), inset    0 0 55px rgba(20, 110, 255, 0.5);
    background-color: var(--main-color-2);
  }
}
@media (min-width: 1300px) {
  .feature-bar {
    flex-wrap: nowrap;
  }

  .feature-bar span {
    font-size: 1.1rem;
  }

  .home-header .title {
    font-size: 3.5rem;
  }

  .information-container {
    grid-template-columns: 10% 90%;
   }


  .image-box-container {
    width: 55%;
    margin-top: 0;
  }

  .HomeImgContainerHeader {
    max-width: 400px;
    margin-left: 8%;
    text-align: left;
  }

  .HomeImgContainerHeaderFirst {
    font-size: 36px;
  }

  .HomeImgContainerHeaderSecond {
    font-size: 21px;
  }
}