.home-header {
  background-color: #1a1a2e;
  color: white;
  padding: 20px;
  text-align: center;
}

.home-header .subtitle {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.home-header .title {
  font-size: 2.5rem;
  margin: 0;
}

.home-header h1 {
  color: white !important;
}

.challenge-card {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  color: white;
  padding: 20px;
  box-shadow: 0 0 25px rgba(20, 110, 255, 0.5), inset 0 0 65px rgba(20, 110, 255, 0.5);
  height: 380px !important;
  max-width: 340px;
  margin: 20px auto;
  position: relative;
  background-image: linear-gradient(to top, rgba(20, 110, 255, 0.1), rgba(0, 98, 255, 0.01));
  background-color: rgba(20, 110, 255, 0.01);
  border: 1px solid rgba(52, 130, 255, 0.1);
}

.AnimateCounterHomePhone {
  display: none;
  flex-direction: column;
  width: 100%;
  align-items: center; 
  margin-top: 30px;
  color: white !important;
}

.getoffersmall {
  display: none;
  margin-top: 40px;
}

.video-hero {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  object-fit: cover; 
  z-index: -1;
}

.home-hero-video {
  color: white;
  position: relative;
  height: 100%;
}


.serivces-section {
  line-height: 50px !important;
}

.break-div {
  display: none;
}

.challenge-container-phone{
  display: none; 
  color:white;
  justify-content: center;
  padding: 20px;
  flex-direction: column;  
  margin:50px auto;
  width:100%;
  height:450px;
  position: relative;
  margin-bottom: 50px;
  border-radius: 10px;
  box-shadow: 0 0 25px rgba(20, 110, 255, 0.5), inset 0 0 65px rgba(20, 110, 255, 0.5);
  max-width: 390px;
  background-image: linear-gradient(to top, rgba(20, 110, 255, 0.1), rgba(0, 98, 255, 0.01));
  background-color: rgba(20, 110, 255, 0.01);
  border: 1px solid rgba(52, 130, 255, 0.1);
}
.challenge-btn-phone{
  margin-top:20px;
  display: flex;
  justify-content: center;
  width:100%;
}
@media (max-width: 1300px) {
 
  .home-header {
    margin-top: 450px;
  }

}
@media (max-width: 1000px) {
  .AnimateCounterHomePhone {
    margin-left: 0;
    display: block !important;
  }
  
  .challenge-container-phone {
    display: flex; 
  }
}
@media (max-width: 700px) {
  .challenge-container-phone{
    display: flex;
    width:90%;
    height:440px;
  }
  
  .home-hero-video {
    height: 580px !important;
  }
  
  .Home-Services-Container video {
    height: 250px !important; 
    width: 100% !important; 
  }
  

  
  .challenge-card {
    padding: 20px;
    height: 390px;
  }
  
  .clippergoat-price {
    font-size: 32px;
  }
  
  .clippergoat-price-description {
    font-size: 14px;
    margin-bottom: 20px;
  }
  
  .clippergoat-cta {
    font-size: 14px;
  }
  
  .clippergoat-feature-item {
    font-size: 14px;
    margin-bottom: 5px;
  }
}

@media (max-width: 400px) {
  .challenge-card {
    padding: 20px;
    height: 310px;
    max-width: 280px;
  }
}
@media (min-width: 1300px) {

  .home-header .title {
    font-size: 3.5rem;
  }

  .video-box-container {
    width: 55%;
    margin-top: 0;
  }

  .Home-Services-Container-Header {
    max-width: 400px;
    margin-left: 8%;
    text-align: left;
  }

  .Home-Services-Container-Header-First {
    font-size: 36px;
  }

  .Home-Services-Container-Header-Second {
    font-size: 21px;
  }
}
