.Pirvacy-Container{
    max-width: 1250px;
    margin: 50px auto;
    padding-left:4%;
    padding-right:4%;

}
.Pirvacy-P{
    color: white;
    margin:30px;
    margin-left: 10px;
    margin-top: 5px;line-height: 2.2rem;
}
.Pirvacy-Container h1{
    margin-bottom: 100px;
}