.BackToTopPhone{
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    right:10px;
    bottom:10px;
    background-color: rgb(101, 160, 255);
    color: #ffffff;
    width: 45px;
    border-radius: 9999px;
    height: 45px;
    font-size: 14px;  border:0px;
    transition:  0.3s ease; 
    z-index: 12222222222222222222222222222222222222222222;
}
.scrolled-backtotop{
    display: flex;
}